.app__contact {
    background-color: var(--bg-second-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.app__contact-wrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media only screen and (max-width: 1124px) {
        flex-direction: column;
        align-items: center;
    }

    @media only screen and (max-width: 567px) {
        margin-top: 3.5rem;
    }
}

.app__contact-img {
    padding: 1rem 3rem;
}

.app__contact-form {
    flex: 1;
}

.app__contact-form-title {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;

    @media only screen and (max-width: 567px) {
        font-size: 1.3rem;
    }
}

.app__contact-details {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    padding: 2rem;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.error-text {
    color: var(--red-color);
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.app__contact-form-box input {
    width: 350px;
    padding: 20px;
    margin-bottom: 1rem;
    margin-top: .5rem;

    padding: 0.95rem;
    border: none;
    border-radius: 7px;
    background-color: var(--primary-color);

    font-family: var(--font-base);
    color: var(--secondary-color);
    outline: none;
    @media only screen and (max-width: 480px) {
        padding: 15px;
    }

    .error-border {
        border: 1px solid var(--red-color);
    }
}

.app__contact-form-box textarea {
    width: 350px;
    height: 100px;
    margin-top: .5rem;
    padding: 0.95rem;
    border: none;
    border-radius: 7px;
    background-color: var(--primary-color);

    font-family: var(--font-base);
    color: var(--secondary-color);
    outline: none;

    resize: none;
    @media only screen and (max-width: 480px) {
        padding: 15px;
        margin-top: 20px;
    }
}

.app__contact-form-box label {
    font-weight: 700;
}

.app__contact-btn {
    width: 350px;

    border: none;
    padding: 15px;
    background-color: var(--red-color);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    @media only screen and (max-width: 480px) {
        padding: 13px;
        font-size: 1rem;
    }
}

select {
    margin: 1rem 0;
    width: 350px;
    height: 60%;
    padding: 20px;

    padding: 0.95rem;
    border: none;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 700;
}

.app__contact-heading {
    margin-top: 1rem;
    font-size: 1rem;
}
