@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --font-base: "Lato", sans-serif;

  --primary-color: #fffffe;
  --secondary-color: #3da9fc;
  --darkblue-color: #094067;
  --lightblue-color: #90b4ce;
  --gray-color: #5f6c7b;
  --red-color: #ef4565;
  --white-color: #ffffff;
  --bg-second-color: #d8eefe40;
  --black-color: #0f0e17;
  --gradient-text: linear-gradient(89.97deg, #3da9fc 1.84%, #ef4565 102.67%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
